.forecast-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 2rem;
  flex: 1;
  height: fit-content;
}

.forecast-heading {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 800;
  align-self: flex-end;
  color: var(--text-gray);
  font-size: 1.1rem;
}

.forecast-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--secondary-color);
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--text-gray);

  flex: 1 0 200px;
}

.forecast-info {
  display: flex;
  flex-direction: column;
}

.forecast-temperature {
  font-size: 2rem;
  font-weight: 600;
  font-weight: 700;
}

.forecast-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.forecast-icon {
  width: 3rem;
}

.forecast-condition {
  font-weight: 600;
}

@media (max-width: 1400px) {
  .forecast-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .forecast-container {
    grid-template-columns: 1fr;
  }
}
