.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  flex: 1;
  padding: 2rem;
}

.current-weather .icon {
  display: block;
  margin: 0 auto;
  width: 10rem;
}

.temperature {
  font-size: 8.5rem;
  font-weight: 700;
  text-align: center;
}

.location {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.location-time {
  font-weight: 500;
}

.weather-description span {
  font-weight: 700;
  font-size: 1rem;
}
