.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 16px;
  margin: 14px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: var(--text-black);
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
  animation: show 0.5s ease-in-out;
  outline: none;
}

.scroll-to-top:hover {
  scale: 90%;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
